.flex.justify-between.items-center.w-100
  %h1 Players
  = link_to('Create', new_player_path)

.ma2.center.flex.flex-wrap.w-100.justify-center
  = @players.present? ? render(@players, cached: true) : 'No players yet...'