%h1 
  Record Match

- if @match.errors.any?
  %p.red.b Failed :(

= form_with(model: [:game, @match]) do |form|

  = react_component('matches/MatchRankingInput', matchPlayers: @match.match_players)

  .flex.flex-wrap.items-center
    = link_to('Back', game_titles_path(game_id: params.require(:game_id)))
    = form.submit('Record')
